services:
  - type: web
    name: skin-lesion-detection
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn backend.wsgi:application"
    plan: free
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: "3.11.0"
      - key: DEBUG
        value: "False"
      - key: DJANGO_SETTINGS_MODULE
        value: backend.settings
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: skin-lesion-db
          property: connectionString
      - key: ALLOWED_HOSTS
        value: "*"

databases:
  - name: skin-lesion-db
    plan: free